html, body {
    margin: 0;
    height: 100%;
    font-family: 'gilroymedium';
}
.navbar {
  background-color: #171717;
}

#navbrand {
  width: 40px;
  height: 40px;
}

.nav-link {
  margin-left: 1em;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}
.icon {
  width: 20px;
  height: 20px;
}

.inner {
  background: url("../images/cafe final.jpg") center no-repeat;
  background-size: cover;
  height: 100%;
  color: white;
}

.intro{
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.2%;
}


#ava2 {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 1em;
  margin-top: 10%;
}

.btn {
  margin-top: 1%;
  border-radius: 20px;
  width: 150px;
  background-color: #028af2;
}
